<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhv7qUPr5TGZ78oI0qSmvQy7sAF9rexEg</string>
	<key>GCM_SENDER_ID</key>
	<string>785303760120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.polikarpsus.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-papmie</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-papmie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785303760120:ios:6aa421b57ebbfc49a49f0d</string>
</dict>
</plist>